/* List CSS */
.main__outer__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    /* border: 1px solid red; */
}


/* AllLists CSS */
.lists__main__parent {
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    /* align-items:; */
    flex-wrap: wrap;
    /* border: 1px solid red; */
    gap: 10px;
}

.list__parent__box {
    border: .2px solid rgba(255, 255, 255, 0.363);
    background: rgba(255, 255, 255, 0.215);
    border-radius: 3px;
    width: 24%;
    padding: 2em;
    text-align: left;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
    transition: bottom 10s ease-in;
}

.list__parent__box:hover {
    bottom: 5px;
    transition: bottom 10s ease-in;
    cursor: pointer;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.123);
}


.list__title {
    font-size: 1rem;
    min-height: 50px;
    margin: .5em 0;
    color: #fefefe;
}

.list__desc {
    color: rgba(0, 0, 0, 0.712);
    min-height: 80px;
    border-bottom: .2px solid rgba(0, 0, 0, 0.245);
}

.list__created {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.500);
    font-size: .6em;
}

.low {
    color: white;
    /* color: black; */
    background-color: green;
    border: .2px solid rgba(54, 223, 7, 0.245);
    display: inline-block;
    display: flex;
    align-items: center;
    padding: .2em;
    font-size: 1em;

}

.medium {
    color: white;
    font-weight: 500;
    background-color: orange;
    display: flex;
    align-items: center;
    border: .2px solid rgba(255, 164, 44, 0.245);
    display: inline-block;
    padding: .2em;
    font-size: 1em;
}

.red {
    color: white;
    font-weight: 500;
    background-color: red;
    display: flex;
    align-items: center;
    border: .2px solid rgba(255, 0, 0, 0.245);
    display: inline-block;
    padding: .2em;

    font-size: 1em;
}

.list__delete {
    outline: none;
    display: inline-block;
    margin-top: 10px;
    padding: 1em 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: rgb(107, 43, 255);
    color: white;
    /* width: 100px; */
    /* margin: auto; */
}

.list__edit {
    cursor: pointer;
    font-size: 20px;
    transition: color .2s ease-in;
    margin-top: 3px;
}

.list__edit:hover {
    color: rgb(107, 43, 255);
}


/* CreateList CSS */
.create__list__parent {
    width: 30%;
    /* border: 1px solid black; */
    /* position: absolute;
    right: 10px;
    top: 25px; */
}

.create__list {
    border: .2px solid rgba(255, 255, 255, 0.363);
    background: rgba(255, 255, 255, 0.215);
    border-radius: 3px;
    padding: 1em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.create__list>form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.create__list>form>input {
    padding: 10px;
    margin: 5px 0;
    outline: none;
    border: .2px solid rgba(0, 0, 0, 0.245);
}

.create__list>form>div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.create__list>form>div>select {
    outline: none;
    border: .2px solid rgba(0, 0, 0, 0.245);
    padding: .5em 1em;
}


.create__list>form>button {
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: rgb(107, 43, 255);
    color: white;
    padding: 1em 2em;
    font-size: 1rem;
    cursor: pointer;
}

/* Edit List card */
.edit__list__parent {
    color: white;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    background: linear-gradient(to right, #7F00FF, #E100FF);
    border-radius: 10px;
    transform: translate(-50%, -30%);
    z-index: 20;
    display: none;
    /* opacity: 0; */
}

.edit__list__parent__changed {
    display: block;
}

.edit__list {
    background: linear-gradient(to right, #7F00FF, #E100FF);
    border-radius: 10px;
    border: none;
}

.empty__div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    background: rgba(27, 27, 27, 0.813);
    z-index: 18;
}

/* Mediq Query for mobile */

@media only screen and (max-width: 600px) {
    .main__outer__box {
        flex-direction: column-reverse;
    }

    .create__list__parent {
        width: 100%;
    }

    .lists__main__parent {
        padding: 1em;
        width: 100%;
    }

    .list__parent__box {
        border: .2px solid rgba(0, 0, 0, 0.245);
        width: 100%;
        padding: .5em;
    }

    .list__title {
        font-size: 1rem;
        min-height: 20px;
    }

    .list__desc {
        font-size: .6rem;
        min-height: 20px;
    }

    .list__created {
        font-size: .5rem;
    }

    .low {
        font-size: .8em;
    }

    .medium {
        font-size: .8em;
    }

    .red {
        font-size: .8em;
    }
}